body{
    background-color:#cfb99d;
    color: #2b2118;
    font-family: "Courier New", Courier, Consolas, monospace;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Style for the heading */
.heading{
    color: rgb(154, 231, 202);
    background-color: #49505f;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #d5f4f7;
}

/* Style for the about link */
a{
    color: #00f0ff;
    text-decoration: none;
}

a:hover{
    color: #ffb800;
}

/* Style for the back to home link in about page */
.back-home{
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid #00f0ff;
    background-color: #1a1f2a;
    padding: 10px;
    border-radius: 5px;
}

/* Flexbox container styles */
.container{
    background-color: #f0f0f0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container.vertical{
    flex-direction: column;
    background-color: #2b2118;
}

.one{
    background-color: grey;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.two{
    background-color: blue;
    width: 100px;
    height: 100px;
    border: 1px solid green;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.three{
    background-color: red;
    width: 100px;
    height: 100px;
    border: 1px solid yellow;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.container.vertical {
    width: 100%;
    flex:auto
}

.test{
    background-color: #f0f0f0;
    padding: 20px;
    margin: 15px;
    border: 1px solid #ccc;
}