body{
    background-color:#cfb99d;
    color: #2b2118;
    font-family: "Courier New", Courier, Consolas, monospace;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Style for the heading */
.heading{
    color: rgb(154, 231, 202);
    background-color: #49505f;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #d5f4f7;
}

/* Style for the about link */
a{
    color: #00f0ff;
    text-decoration: none;
}

a:hover{
    color: #ffb800;
}

/* Style for the back to home link in about page */
.back-home{
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid #00f0ff;
    background-color: #1a1f2a;
    padding: 10px;
    border-radius: 5px;
}